@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Montserrat:wght@600&family=Oswald:wght@500&display=swap');

* {
  margin: 0px;
  padding: 0px;
  border: none;
}

a {
  text-decoration: none;
}
 
body {
  display: flex;
  flex-direction: column;
}

